.carousel__button-container {
  position: relative;
  top: 85%;
  left: 34%;
  width: 40%;
  @include box-shadow-left;
  // box-shadow: -50px 15px 40px 10px $slider-shadow;

  .carousel__button {
    background: white;
    outline: none;
    border: none;
    padding: 0.75em 1.25em;
    cursor: pointer;
    height: 100%;
    width: 50%;
  }

  .carousel__button--left {
    @include box-shadow-left;
  }

  .carousel__button--right {
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    margin-left: -9px;
  }
}

@media (max-width: 311px) {
  .carousel__button-container {
    top: 70%;
  }
}
